@import "variables";

.show-icon {
	padding: 20px 0;
}

.show-icon__title {
	text-align: center;
	margin-bottom: 40px;
}

.show-icon__icon-group {
	display: flex;
	align-items: center;
	gap: 20px;

	svg {
		width: 24px;
		height: 24px;


		cursor: pointer;
		transform: scale(1);
		transition: 0.2s;

		&:hover {
			transform: scale(1.1);
			transition: 0.2s;

			path {
				transition: 0.2s;
				stroke: #5F5BE2;
				fill: #5F5BE2;
			}
		}

		path {
			transition: 0.2s;
		}
	}
}
